<h2><b>Move</b></h2>

<p>
    <label>Piece: </label>
    <%= @move.piece %>
</p>
<p> 
    <label>Square: </label>
    <%= @move.square %>
</p>

<form method="get" action="<%= "/moves/#{@move.id}/edit" %>">
  <button type="submit" class="btn btn-warning">Edit Move</button>
</form>
<br><br>
<form method="get" action="/moves">
  <button type="submit" class="btn btn-primary">All Moves</button>
</form>



